.todo-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list-wrapper {
    border: 2px solid gray;
    width: 600px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
}

.todo-list-header{

    &__title {
        text-align: center;
    }
}